<template>
  <div>
    <el-form-item :label="toString(key)" v-for="(value, key) in fields" :key="key"  class="grid-content">
      <!-- If it is a text field -->
      <div v-if="!isObject(value)">
        <el-col style="width: 25%">
          <el-tag>{{displayField(value)}}</el-tag>
        </el-col>
        <el-col :span="1">-</el-col>
        <el-col :span="2" class="bg-purple-dark">
          <el-input v-on:change="changed(key)" v-model="json[key]" :value="json[key]"></el-input>
        </el-col>
      </div>

      <!-- If it is a nested child -->
      <div v-if="isObject(value)">
        <el-button type="primary" class="pointer f-l" :class="iconClasses(key)" @click="toggleChildren(key)" ></el-button>
        <br/>
        <br/>
        <field v-if="isVisible(key)" :fields="value" :root="key" :update="updateJSON"></field>
      </div>
    </el-form-item>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
    name: 'field',
    props:[
      'update', 'fields', 'root'
    ],
    data(){
      return{
        json: Vue.util.extend({}, this.fields),
        showChildren: []
      }
    },

    computed: {
      
    },
    methods: {
      isObject: function(obj){
        return typeof obj == "object";
      },

      toString: function(key){
        return (key).toString();
      },

      displayField: function(value){
        return value || value === 0 ? value : '-'
      },

      updateJSON: function(key, value){
        this.json[key] = value;
        this.update(this.root, this.json);
      },

      changed: function(t, e){
        this.update(this.root, this.json); 
      },

      isVisible: function(key){
        let elem = this.showChildren.find(child => child.key == key);
        return elem && elem.visible;
      },

      toggleChildren(key) {
        let elem = this.showChildren.find(child => child.key == key);
        if(elem){
          elem.visible = !elem.visible;
        }else{
          this.showChildren.push({
            key: key,
            visible: true
          });
        }
      },

      iconClasses(key) {
        return {
          'el-icon-plus': !this.isVisible(key),
          'el-icon-minus': this.isVisible(key)
        }
      }
    }
}
</script>

<style scoped>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: 0px !important;
    }
  }
  .pointer {
    cursor: pointer;
  }
  
  .f-l {
    float: left;
  }

  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>