<template>
  <div class="hello">
    <el-container>
      <el-header>JSON Project</el-header>
      <el-main>
        <el-row type="flex" class="row-bg" justify="center" v-if="original_json && original_json.base_station_id">
          <el-col :span="24">
            <el-form label-position="left" :model="original_json" label-width="130px" size="mini">
              <field :fields="original_json" :update="updateJSON" :root="''"></field>
              <el-form-item>
                <el-button type="primary" @click="submit">Submit</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import Field from './Field';
import Vue from 'vue';

export default {
  name: 'Home',
  components: {
    'field': Field
  },
  data () {
    return {
      original_json: {},
      new_json: {}
    }
  },
  mounted(){
    this.fetchJSON();
  },
  methods: {
    fetchJSON: function(){
      this.$http.get('/static/json/active.json')
          .then(response => {
            this.original_json = Vue.util.extend({}, response.data);
            this.new_json = Vue.util.extend({}, response.data);
          })
          .catch(error => console.log(error));
    },

    updateJSON: function(key, value){
      //If it is a child component
      if(key){
        this.new_json[key] = value;
      }else{
        this.new_json = Vue.util.extend({}, value);
      }
    },
    submit: function(){
      this.original_json = this.new_json;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
